<nav>
  <ul>
    <li><a routerLink="/player" routerLinkActive="active" ariaCurrentWhenActive="page">Player</a></li>
    <li><a routerLink="/browser" routerLinkActive="active" ariaCurrentWhenActive="page">Browser</a></li>
    <li><a routerLink="/editor" routerLinkActive="active" ariaCurrentWhenActive="page">Editor</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>