@import "src/styles";

:host {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

    .container {
        display: flex;
        flex-direction: column;

        .waveform-container {
            display: flex;
            max-width: 1200px;
            width: 100%;
            position: relative;
            

            img {
                width: 100%;
                border: solid 1px $borderColor;
            }

            app-dragger {
                position: absolute;
                height: 100%;
            }

            .selection {
                height: 100%;
                background-color: $primaryColor;
                opacity: 0.2;
                position: absolute;
            }
        }

        .zoom-controls {
            width: 100%;
            margin-top: 16px;
            margin-bottom: 42px;
            color: $textColor;
            display: flex;
            flex-direction: row;

            .left-duration, .right-duration {
                flex: 1;
            }

            .right-duration {
                text-align: end;
            }

            .zoom {
                border: solid 1px $borderColor;
                display: flex;
                align-items: center;
                justify-content: center;

                > * {
                    padding: 12px;
                }
            }

            .control {
                width: 24px;
                height: 24px;

                ::ng-deep * {
                    stroke: $textColor;
                }
        
                &:hover::ng-deep * {
                    stroke: $primaryColor;
                }
            }
        }
    }

    .player-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .control {
            width: 48px;
            height: 48px;
            margin: 0 16px;

            ::ng-deep * {
                fill: $textColor;
            }
    
            &:hover::ng-deep * {
                fill: $primaryColor;
            }
        }
    }

    .control {        
        display: flex;
        cursor: pointer;

        &.prev {
            transform: scaleX(-1);
        }
    }
}