@import "src/styles";

:host {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: 16px;

    app-folders {
        width: 480px;
        border-right: solid 1px $borderColor;
    }

    app-tracks {
        flex: 1;  
    }
}