@import "src/styles";

:host {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $borderColor;

        app-dropdown {
            width: auto;
            font-size: 36px;

            ::ng-deep app-dropdown-icon {
                width: 24px;
                height: 24px;
            }
        }
    }

    .list {
        flex: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .tracks-wrapper {
            width: 100%;
            height: 100%;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .tracks {
                display: flex;
                flex-direction: column;
                width: 100%;

                .row {
                    font-size: 20px;
                    padding: 8px 36px;
                    color: $textColor;
                    display: flex;
                    flex-direction: row;
                    height: 36px;
                    border-bottom: solid 1px $borderColor;
                    cursor: pointer;

                    &:hover,
                    &.current {
                        color: $primaryColor;

                        ::ng-deep * {
                            fill: $primaryColor;
                        }
                    }

                    .cell {
                        display: flex;
                        align-items: center;
                        padding: 8px;

                        &.name {
                            flex: 1;
                        }
                    }
                }
            }

            .page-loader {
                margin: 8px;
                display: flex;
            }
        }

        app-preloader {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .control-panel {
        border-top: 1px solid $borderColor;
        height: 96px;
        display: flex;
        flex-direction: column;
        padding: 12px;

        .timeline-wrapper {
            display: flex;
            width: 100%;
            height: 24px;

            app-timeline {
                width: 100%;
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            font-size: 20px;
            flex: 1;

            >* {
                flex: 1;
            }

            .name {
                display: flex;
                color: $textColor;
            }

            .play-controls-wrapper {
                display: flex;
                justify-content: center;
                
                .play-controls {
                    display: flex;
                    justify-content: space-between;
                    width: 150px;

                    .control {
                        width: 36px;
                        height: 36px;
                    }

                    .prev {
                        transform: scaleX(-1);
                    }
                }
            }
        }
    }

    .control {
        width: 24px;
        height: 24px;
        display: flex;
        cursor: pointer;

        ::ng-deep * {
            fill: $textColor;
        }

        &:hover::ng-deep * {
            fill: $primaryColor;
        }
    }
}