<div class="header">
    <app-dropdown [items]="folderDropdownItems" [selectedIndex]="0" [bordered]="false"
        (onChange)="onFolderChange($event)"></app-dropdown>
</div>
<div class="list">
    <div class="tracks-wrapper">
        <div class="tracks" *ngIf='!isLoading'>
            <div *ngFor="let track of (tracks$ | async); let i = index; trackBy:trackBy" class="row"
                (click)="playOrPause(track)" [ngClass]="{ current: isCurrentTrack(track) }">
                <div class="controls cell">
                    <app-play-icon class="control" *ngIf="!isCurrentTrackPlaying(track)"></app-play-icon>
                    <app-pause-icon class="control" *ngIf="isCurrentTrackPlaying(track)"></app-pause-icon>
                </div>
                <div class="number cell">{{i}}</div>
                <div class="name cell">{{track.name}}</div>
                <div class="duration cell">{{convertDuration(track.duration)}}</div>
            </div>
        </div>

        <div #pageLoadingAnchor id="page-loading-anchor"></div>
        <app-preloader-logo *ngIf='!isLoading && isPageLoading' class="page-loader" [size]="20"></app-preloader-logo>
    </div>

    <app-preloader *ngIf='isLoading'></app-preloader>
</div>
<div class="control-panel">
    <div class="timeline-wrapper">
        <app-timeline></app-timeline>
    </div>
    <div class="bottom">
        <div class="name">
            {{currentTrackName}}
        </div>
        <div class="play-controls-wrapper">
            <div class="play-controls">
                <app-next-icon class="control prev"></app-next-icon>
                <app-play-icon class="control" *ngIf="!isPlaying()" (click)="playOrPause()"></app-play-icon>
                <app-pause-icon class="control" *ngIf="isPlaying()" (click)="playOrPause()"></app-pause-icon>
                <app-next-icon class="control"></app-next-icon>
            </div>
        </div>
        <div></div>
    </div>
</div>