@import "src/styles";

:host {
    display: flex;
    flex-direction: column;

    .folders-header {
        height: 72px;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: row;
        border-bottom: solid 1px $borderColor;
        box-sizing: border-box;

        .folders-caption {
            color: $textColor
        }

        .folders-add {
            margin-left: auto;
            width: 18px;
            height: 18px;
            background-image: url('/assets/plus-button.svg');
            cursor: pointer;
        }
    }

    .folders {
        .folder {
            padding: 12px 24px;
            border-bottom: solid 1px $borderColor;
            display: flex;
            align-items: center;
            justify-items: center;

            &.active { 
                .folder-caption  {
                    color: $primaryColor;
                }
            }

            .folder-caption {
                color: $textColor;
            }

            .folder-delete {
                margin-left: auto;
                width: 18px;
                height: 18px;
                background-image: url('/assets/delete-button.svg');
                cursor: pointer;
            }

        }
    }
}