<app-preloader *ngIf="foldersLoading"></app-preloader>
<div class="folders-header" *ngIf="!foldersLoading">
    <div class="folders-caption">Folders</div>
    <div class="folders-add" (click)="createFolder()"></div>
</div>
<div class="folders">
    <div class="folder" *ngFor="let folder of folders" [ngClass]="{ active: isCurrentFolder(folder.name) }">
        <ng-container [ngSwitch]="isEditing(folder)">
            <div *ngSwitchCase="false" class="folder-caption">{{ folder.name }}</div>
            <app-input *ngSwitchCase="true" class="folder-input" [initialValue]="folder.name" [autoFocus]="true"
                (onBlur)="onEditCompleted($event)"></app-input>
        </ng-container>

        <div class="folder-delete" (click)="deleteFolder(folder)"></div>
    </div>
</div>