@import "src/styles";

:host {
    height: 24px;
    position: relative;

    .loading-progress {
        background-color: $borderColor;
        top: 1px;
        pointer-events: none;
    }

    .track-progress {
        background-color: $primaryColor;
        top: 1px;
        pointer-events: none;
    }

    .timeline, .loading-progress, .track-progress {
        height: 12px;
        position: absolute;
    }

    .timeline {
        width: 100%;
        border: solid 1px $borderColor;
        cursor: pointer;
    }

    .handle {
        pointer-events: none;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $primaryColor;
        border: 4px solid $borderColor;
        box-sizing: border-box;
        left: 0;
        top: 0;
        transform: translate(-10px, -3px);
    }
}