<div class="empty-editor">
    <app-button (click)="onChooseClick()">Choose file</app-button>
</div>

<app-modal [visible]="chooseFileModalVisible" [modalTitle]="'Choose file'" [okText]="'Choose'"
    [okEnabled]="isTrackSelected()" (onOk)="onOk()" (onCancel)="onCancel()">
    <div class="file-manager">
        <app-folders [actionEnabled]="false"></app-folders>
        <app-tracks [actionEnabled]="false" (selectionChanged)="onSelectionChanged($event)"
            (onDoubleClick)="onDoubleClick($event)"></app-tracks>
    </div>
</app-modal>