$primaryColor: var(--mcsimusic-primary-color);
$bgColor: var(--mcsimusic-bg-color);
$borderColor: var(--mcsimusic-border-color);
$textColor: var(--mcsimusic-text-color);
$textErrorColor: var(--mcsimusic-error-text-color);

html {
    --mcsimusic-primary-color: #f5b316;
    --mcsimusic-text-color: #e7e5e5;
    --mcsimusic-bg-color: #504d4d;
    --mcsimusic-border-color: #646363;
    --mcsimusic-error-text-color: #d13353;

    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: $bgColor;

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.2);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.4);
    }

    ::-webkit-scrollbar-thumb:active {
        background: rgba(255, 255, 255, .9);
    }

    body {
        display: flex;
        margin: 0;
    }
}