@import "src/styles";

:host {
    display: flex;
    flex-direction: column;
    color: $textColor;

    .tracks-wrapper {
        font-weight: 400;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        position: relative;

        .tracks {
            width: 100%;
            flex: 1;
        }

        .row {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid $borderColor;

            &:not(.header-row) {
                cursor: pointer;
                position: relative;

                &:hover {
                    box-shadow: 0 0 2px $primaryColor;
                    box-sizing: content-box;
                }

                &.selected:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $primaryColor;
                    opacity: 0.1;
                    pointer-events: none;
                }
            }

            .header-cell {
                display: flex;
                cursor: pointer;

                .header-cell-name {
                    flex: 1;
                }

                ::ng-deep app-sort-icon {
                    width: 12px;
                    height: 19px;

                    &.active * {
                        fill: $primaryColor  !important;
                    }

                    &.asc {
                        transform: rotate(180deg);
                        transform-origin: 50% 50%;
                    }
                }
            }


            .cell {
                border-left: 1px solid $borderColor;
                padding: 12px 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: left;
                box-sizing: content-box;


                &.primary {
                    flex: 1;
                }

                &.date {
                    width: 120px;
                }

                &.duration {
                    width: 100px;
                }

                &.action-row {
                    width: 70px;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }

        .page-loader {
            margin: 8px;
        }


        app-upload {
            width: 100%;
            height: 100%;
            position: absolute;
            pointer-events: none;
            display: none;

            &.hover {
                pointer-events: all;
                display: flex;
            }

            &:not(.visible).hover {
                background-color: $primaryColor;
                opacity: 0.1;
            }

            .dnd-area {
                width: 100%;
                height: 100%;
            }

            &.visible {
                top: 10%;
                left: 10%;
                width: 80%;
                height: 80%;
                display: flex;
                pointer-events: all;

                .dnd-area {
                    border: 4px dashed $primaryColor;
                    border-radius: 2px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
    
                    .dnd-label {
                        font-size: 24px;
                        color: $primaryColor;
                    }
    
                    .dnd-ext {
                        margin-top: 16px;
                        color: $textColor;
                    }
    
                    &:hover:after, &.hover:after {
                        opacity: 0.05;
                    }
    
                    &:active:after {
                        opacity: 0.1;
                    }
    
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: $primaryColor;
                        opacity: 0;
                        z-index: 2;
                    }
                }
            }
        }

        .empty-message {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 24px;
        }
    }

    app-input {
        width: 100%;
    }

    .tracks-action-panel {
        border-top: solid 1px $borderColor;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 12px 24px;
        box-sizing: border-box;

        * {
            margin-left: 8px;
        }
    }

    .control-icon {
        width: 18px;
        height: 18px;
        cursor: pointer;
        display: flex;

        ::ng-deep svg * {
            fill: $textColor  !important;
            stroke: $textColor  !important;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}